* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 50px;
    background-color: rgb(1, 63, 138);
}

a {
    text-decoration: none;
    padding: 0 20px;
    font-size: 18px;
    font-style: normal;
}

.aboutme {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 80px;
}

.aboutme-text {
    width: 70%;
}

.aboutme-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.aboutme-text h1 {
    font-family: "Cinzel", serif;
    font-weight: 500;
    font-size: 2.5vw;
    margin-bottom: 20px;
    color: rgb(1, 63, 138);
}

.aboutme-title hr {
    flex-grow: 1;
    border: 0;
    border-top: 1px solid #000;
    position: relative;
    top: -8px;
    margin-left: 10px;
}

.aboutme-text p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    color: rgb(1, 63, 138);
}

.aboutme-img {
    position: relative;
}

.aboutme-img img {
    width: 400px;
    border-radius: 20px;
}

.skills-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.tools-title h1 {
    font-family: "Cinzel", serif;
    font-weight: 500;
    font-size: 2vw;
    color: rgb(1, 63, 138);
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.tools-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tools-icon2 {
    position: relative;
    left: -20px;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 128px;
}

.icons p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
    padding-top: 15px;
    color: rgb(1, 63, 138);
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    right: 250px;
}

.skills-title h1 {
    font-family: "Cinzel", serif;
    font-weight: 500;
    font-size: 2vw;
    color: rgb(1, 63, 138);
}

.skills-title {
    position: relative;
    left: 250px;
    top: -67px;
}

.skills-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: -25px;
}

.bar-info {
    width: 100%;
    margin-top: 50px;
    position: relative;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info .percentage {
    position: absolute;
    left: 520%;
}

.info p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
    color: rgb(1, 63, 138);
}

.bar-info .bar {
    width: 570%;
    height: 16px;
    background-color: rgb(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}

.bar-info .bar span {
    height: 100%;
    position: absolute;
    background-color: black;
    border-radius: 25px;
}

.bar-info .bar .html{
    width: 80%;
    animation: html 2s;
}

@keyframes html {
    0% {
        width: 0%;
    } 100%{
        width: 80%;
    }
}

.bar-info .bar .css{
    width: 70%;
    animation: css 2s;
}

@keyframes css {
    0% {
        width: 0%;
    } 100%{
        width: 70%;
    }
}

.bar-info .bar .java{
    width: 60%;
    animation: java 2s;
}

@keyframes java {
    0% {
        width: 0%;
    } 100%{
        width: 60%;
    }
}

.bar-info .bar .python{
    width: 50%;
    animation: python 2s;
}

@keyframes python {
    0% {
        width: 0%;
    } 100%{
        width: 50%;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 80px;
}

.main-title {
    font-size: 2vw;
}

.main-title h1 {
    font-family: "Cinzel", serif;
    font-weight: 500;
    color: rgb(1, 63, 138);
}

.circle2 {
    width: 170px;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 50%;
    background-color: rgb(1, 63, 138);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-text a {
    color: white;
    text-decoration: none;
    font-family: "Cinzel", serif;
    font-weight: 400;
    
}

.line-break {
    margin: 0 80px;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 80px;
}

.footer {
    height: 200px;
}

.email {
    position: relative;
    top: 20px;
}

.ig {
    position: relative;
    top: 20px;
}

.aboutme-button-link a {
    color: white;
    text-decoration: none;
}

.navbar a {
    font-family: "Cinzel", serif;
    font-weight: 450;
    color: white;
}

.footer p {
    font-family: "Cinzel", serif;
    font-weight: 450;
    color: rgb(1, 63, 138);
}

.edu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.col {
    width: 45%;
    margin: 0 0 0 80px;
}

.achievement {
    width: 45%;
    margin: 0 80px 0 0;
}

.edu-title h1, .achievement-title h1 {
    font-family: "Cinzel", serif;
    font-weight: 500;
    font-size: 2vw;
    color: rgb(1, 63, 138);
    text-align: center;
    padding-bottom: 30px;
}

.edu-info {
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}

.box {
    position: relative;
    padding: 44.5px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    transition: all 0.4s;
    border-radius: 20px;
    margin: 0 0 50px 0;
    box-shadow: 0px 3px 12px 0px #ccc;
}

.box2 {
    position: relative;
    padding: 40px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    transition: all 0.4s;
    border-radius: 20px;
    margin: 0 0 50px 0;
    box-shadow: 0px 3px 12px 0px #ccc;
    text-align: center;
}

.box::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #000;
    border: 2px solid white;
}

.box h3, .box2 h3 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    color: rgb(1, 63, 138);
    padding-top: 15px;
    padding-bottom: 15px;
}

.box p, .box2 p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 1vw;
    color: rgb(1, 63, 138);
}